.first_name,
.last_name,
.Email,
.Message {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.4rem;
  border: 2px solid #d0d5dd;
  margin: 0.5rem 0 2rem 0;
  box-shadow: 2px 2px 1px rgb(241, 241, 241);
}
.label {
  color: #344054;
  font-weight: bolder;
}
.first_name,
.last_name,
.Email,
.Message,
::placeholder {
  font-size: 1rem;
  color: #667085;
  padding: 0 0.3rem;
}

/* REDEFINING STYLES FOR MESSAGE */
.Message {
  height: 9rem;
  padding: 0.5rem;
  font-family: "Inter", sans-serif;
}
